<div class="col-lg-12 clo-lg-offset-1">
    <div class="jumbotron">
    <h3 class="glyphicon glyphicon-home">  {{titulo}}</h3>
    <hr/>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Subir</button>

    <div class="main-content">

        <div class="row">
  <div class="col-sm-4 bg-danger border-danger">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Estado Stock</h4>
        <app-dona></app-dona>
        <a [routerLink]="['/productos']" [routerLinkActive]="['activado']" class="btn btn-primary">Detalle</a>
      </div>
    </div>
  </div>
    <div class="col-sm-4 bg-success border-danger">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Movimientos</h5>
        <app-lineal></app-lineal>
        <a href="#" class="btn btn-primary">Detalle</a>
      </div>
    </div>
  </div>
   
</div>

<div class="row">
  <div class="col-sm-4 bg-danger border-danger">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Estado Stock</h4>
        <app-dona></app-dona>
        <a [routerLink]="['/productos']" [routerLinkActive]="['activado']" class="btn btn-primary">Detalle</a>
      </div>
    </div>
  </div>
    <div class="col-sm-4 bg-success border-danger">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Movimientos</h5>
        <app-lineal></app-lineal>
        <a href="#" class="btn btn-primary">Detalle</a>
      </div>
    </div>
  </div>
   

